/* Access Font Family */
/* 
font-family: 'Poppins', sans-serif;
font-family: 'Pacifico', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100;300;400;500;600;700&display=swap');

/* Global  */
html {
  overflow-x: hidden;
}

* {
  color: #212529;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  text-decoration: none !important;
  text-rendering: optimizeLegibility;
}

/* Font Title */
.font-title {
  font-family: 'Pacifico', cursive;
  font-size: 1.7rem !important;
  font-weight: 400 !important;
  color: #fff !important;
}

/* End Font Title */

h2.sub-title.text-center {
  margin-top: 80px;
  font-size: 1.5rem;
}

/* Link Product */
a.link-product {
  color: #165798;
}

a.link-product:hover {
  color: #ECB70A;
  font-weight: 500;
}

/* End Link Product */

/* Button */
.button-model-submit {
  background-color: #ECB70A !important;
  color: #000 !important;
  border-color: #ECB70A !important;
}

.button-model-submit:hover {
  background-color: rgb(21, 44, 91) !important;
  color: #fff !important;
  border-color: rgb(21, 44, 91) !important;
}

/* end Button */

/* All font */
.font-number {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
}

/* all font title h2 h1*/
.jumbotron-h1,
.jumbotron-lead,
h2.sub-title.text-center,
button.button-jumbotron.btn.btn-primary,
h2.title-image-login,
h2.title-login {
  font-family: 'Pacifico', sans-serif !important;
}

/* End All Font  */
/* End All Font */
/* End Global */

/* Jumbotron */
.jumbotron {
  background: linear-gradient(109.65deg, rgba(17, 17, 17, 0.33) 22.86%, rgba(191, 150, 4, 0.33) 99.36%), url(../src/Components/ImagesComponent/cookies.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.jumbotron-h1 {
  font-size: 3.1rem;
  color: white;
}

.jumbotron-lead {
  color: #fff;
}

button.button-jumbotron.btn.btn-primary {
  background-color: #ECB70A;
  border-color: #ECB70A;
  color: #000;
  margin-top: 1rem;
}

button.button-jumbotron.btn.btn-primary:hover {
  background-color: #1E1E1E;
  border-color: #ECB70A;
  color: #fff;
}



/* end jumbotron */

/* Navbar */
/* nav.navbar.navbar-expand-lg.navbar-light {
  background-color: transparent !important;
} */

nav.navbar-background.navbar.navbar-expand-lg.navbar-light {
  background-color: #000 !important;
}


a.nav-link:nth-child(1) {
  margin: 0 1.2rem 0 0;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link,
.nav-link:focus {
  color: #ECB70A;
  font-weight: 500;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
  color: #ECB70A !important;
  font-weight: 500;
}

a.nav-link:active {
  color: white;
}

i.fas.fa-user {
  color: #fff;
}

.nav-link:focus {
  color: #ECB70A !important;
}

a.nav-link,
i.fas.fa-shopping-cart {
  color: #fff;
}

a.nav-link {
  font-weight: 500;
}

a.nav-link:hover {
  color: #ECB70A;
  font-weight: 500;
}




/* DropDown */
button.navbar-toggler.collapsed,
button.navbar-toggler {
  background-color: #ECB70A;
  color: #fff
}


/* End DropDown */

/* End Navbar */

/* Search */
input.form-input.rounded-0.form-control[type=text] {
  background-color: #fff;
  font-family: 'poppins', sans-serif;
  color: #000;
  font-weight: 400;
}


/* Button */
button.form-button-search.rounded-0.btn {
  background-color: #ECB70A;
}


/* End Search */

a {
  text-decoration: none;
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: .5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* npm I react-router-dom@5.3.0 */
/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
  padding: 10px;
  box-sizing: border-box;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel .carousel-item a img {
  /* height: 300px;
  padding: 40px;
  border-radius: 50%;
  margin: 40px auto 40px auto; */
  width: 100%;
  height: 50%;
}

.carousel a {
  margin: 0 auto;
}

/* End Carousel */

/* Card Product */
.col-xl-3.col-lg-4.col-md-6.col-sm-12 {
  margin: 20px 20px;
}

.card-product {
  display: flex;
  justify-content: center;
}

.card-image {
  height: 14rem;
}

.card-body a {
  text-decoration: none;
}

.card {
  border-color: #ECB70A !important;
}

.card-product-homescreen.card:hover {
  box-shadow: 1px -1px 8px rgba(255, 203, 8, 1);
}

/* Close Card Product */

/* ShippingScreeen */
a.nav-link-shipping-screen.nav-link {
  color: #ECB70A;
}

a.nav-link-shipping-screen.active.nav-link {
  color: #fff;
  background-color: #ECB70A;
  border-radius: 5px;
}

/* End Shipping Screeen */

/* Login */
h2.title-login {
  font-size: 3.12rem;
}

.image-login {
  background: linear-gradient(109.65deg, rgba(17, 17, 17, 0.33) 22.86%, rgba(191, 150, 4, 0.33) 99.36%),
    url(../src/Components/ImagesComponent/cookies.jpg);
  background-position: center;
  background-attachment: local;
  background-size: cover;
}

.title-image-login {
  color: white;
  line-height: 3.2rem;
}

.login-text {
  width: 461px;
  font-size: .92rem;
  font-weight: 500;
}

.icon-email {
  position: absolute;
  left: 12px;
  top: 19px;
  bottom: 23px;
  font-size: 3.12rem;
  color: #fff;
}

label.label-email.text-center.form-label {
  position: absolute;
  text-align: center;
  margin: 10px 0 0 82px;
  color: rgb(255, 255, 255);
  font-weight: 500;
}


.group-email {
  position: relative;
  background-color: rgb(0, 0, 0);
  width: 400px;
  height: 92px;
}


.input-email.form-control {
  position: absolute;
  width: 70% !important;
  bottom: 10px;
  left: 69px;
  border: 0;
  background-color: transparent;
  text-align: center;
  background-color: transparent;
  text-align: left;
  color: rgba(255, 203, 8, 1);
  font-weight: 500;
  background-color: transparent;
}

.input-email.form-control:-webkit-autofill,
.input-email.form-control:-webkit-autofill:hover,
.input-email.form-control:-webkit-autofill:focus,
.input-email.form-control:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(0, 0, 0) inset !important;
  -webkit-text-fill-color: rgba(255, 203, 8, 1) !important;
}

.input-email.form-control:-webkit-autofill#username,
.input-email.form-control:-webkit-autofill#usernameId_new,
.input-email.form-control:-webkit-autofill:hover,
.input-email.form-control:-webkit-autofill:focus,
.input-email.form-control:-webkit-autofill:active {
  -webkit-text-fill-color: #646464 !important;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  -webkit-padding-start: 8px !important;
}

.group-password {
  position: relative;
  background-color: rgb(0, 0, 0);
  width: 400px;
  height: 92px;
  margin-top: 30px;
}

.label-password {
  position: absolute;
  text-align: center;
  margin: 10px 0 0 82px;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.input-password.form-control {
  position: absolute;
  width: 70% !important;
  bottom: 10px;
  left: 69px;
  border: 0;
  background-color: transparent;
  text-align: center;
  background-color: transparent;
  text-align: left;
  color: rgba(255, 203, 8, 1);
  font-weight: 500;
  background-color: transparent;
}

.icon-password {
  position: absolute;
  left: 12px;
  top: 19px;
  bottom: 23px;
  font-size: 3.12rem;
  color: #fff;
}

button.button-login.btn.btn-primary {
  background-color: rgba(255, 201, 0, 1) !important;
  border: none;
  width: 100px;
  height: 50px;
  /* border-radius: 20px; */
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
}

button.button-login.btn.btn-primary:hover {
  background-color: rgba(21, 44, 91, 1) !important;
  color: #fff;
}

.form-right {
  margin-left: 92px;
}

.login-new-user {
  margin-left: 210px;
  font-weight: 500;
}

/* End Login */


/* Query mobile */
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

@media (max-width: 991px) {
  .jumbotron-h1 {
    font-size: 3.4vw;
  }

  .jumbotron-lead {
    font-size: 2.1vw;
  }
}

@media only screen and (max-width: 360px) {
  .jumbotron-h1 {
    font-size: 2rem;
  }
}